<meta charset="UTF-8">
<title>Zentoo</title>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href="/css/style.css" rel="stylesheet" type="text/css">