<html ng-app="app">
<head>
<title>Zentoo</title>
</head>
<body>

	<ng-view></ng-view>
	
	<!-- Libraries -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

	<script type="text/ng-template" id="/reviews.html">
  <h2> Welcome to Zentoo </h2>
  Search: <input type="text" ng-model="search.name">
  <ul>
    <li ng-repeat="review in reviews | filter: search">
      <!--<b>{{ review.name }} </b> <br>
	  <p>{{ review.note }} </p>-->
	  {{ review }}
    </li>
  </ul>	
</script>

	<script>
		angular.module('app', [ 'ngRoute', 'ngResource' ])

		
		//---------------
		// Services
		//---------------

		.factory('Reviews', [ '$resource', function($resource) {
			return $resource('/reviews/:id', null, {
				'update' : {
					method : 'PUT'
				}
			});
		} ])
		
		//---------------
		// Controllers
		//---------------

		.controller('ReviewController',
				[ '$scope', 'Reviews', function($scope, Reviews) {
					$scope.editing = [];
					$scope.reviews = Reviews.query();
				} ])

		//---------------
		// Routes
		//---------------

		.config([ '$routeProvider', function($routeProvider) {
			$routeProvider.when('/', {
				templateUrl : '/reviews.html',
				controller : 'ReviewController'
			})
		} ]);
	</script>

</body>
</html>
